[class*="col-"] {
  background-color: red;
  border: 1px solid black;
  min-height: 100px;
}

body{
    text-align: center;
}

header, .jumbotron, main{
    background-color: grey;
    margin-top: 100px;
}

h2{
    font-size: 2em;
}

img{
    height: 200px;
}

.cerchio{
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px;
    height: 260px;
}
